*{
	padding: 0;
	margin:0;
}
/*header*/
/*hero*/
.hero{
}
.col-md-4{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.hero__textbox{
	display: flex;
	flex-direction: column;
}
.hero__textbox--goldcolor{
	font-size: 24px;
	font-weight: bold;
}
.hero__textbox--default{
	font-size: 18px;
}

.btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px 0 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  width: 200px;
}
.btn--big {
  font-size: 24px;
  font-weight: 400;
}
.btn--orange {
  border-color: #FF4136;
  color: white;
  background-color: #FF4136;
}

.hero img{
	width: 850px;
	background-size: cover;
	background-position: center;
	object-fit: cover;
	border-radius: 6px;
}

/*content*/
.content__quotes{
	margin-top: 50px;
	background-color: red;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content__quotes__p{
	font-size: 42px;
	color: white;
	text-align: center;
}
.content__quotes__p--mini{
	font-size: 18px;
	color: white;
	text-align: center;
}
@media only screen and (max-width: 768px){
	.row{
		flex-direction:column-reverse;
	}
}